.headerNav
  width 100%
  background-color: #fff
  position fixed
  top 0
  left 0
  z-index 10
  .headerTop
    padding 8px 15px
    display flex
    justify-content space-around
    align-items center
    .logoImg
      width 69px
      height 20px
      padding-right 10px
    .inputText
      height 28px
      width 221px
      background-color: #ededed;
      border-radius 5px
      display flex
      justify-content center
      align-items center
      color #666
      font-size 13px
      img
        width 14px
        height: 14px
        padding-right: 4px
    .loginBtn
      color #b4282d
      width 36px
      height 18px
      line-height 20px
      text-align: center
      font-size 12px
      border 1px solid #da9496
      border-radius 4px
      margin-left 8px
  .headerBottom
    position relative
    height 30px
    width 100%
    .listDiv
      height 100%
      width 78%
      position absolute
      top 0
      left 0
      .navList
        background-color: #fff
        height 100%
        width 200%
        display flex
        justify-content space-around
        padding-left 10px
        .navBtn
          font-size 14px
          float left
          height 100%
          padding 0 8px
          line-height 30px
          box-sizing border-box
        .line
          color #b4282d
          border-bottom 2px solid #b4282d

    .listTable
      background-color: white
      .listTable-all
        box-sizing border-box
        padding-left 16px
        line-height 32px
        font-size 14px
      .listTable-list
        padding-top 12px
        height 144px
        display flex
        flex-wrap wrap
        .listTable-li
          width 74px
          height 27px
          border 1px solid #e3e3e3
          border-radius 4px
          font-size 12px
          text-align: center
          line-height 27px
          margin  0 0 20px 15px
        .listline
          color #b4282d
          border 1px solid #d79194
    .jiantou
      position absolute
      top 0
      right 0
      z-index 10
      float right
      width 15%
      height 30px
      text-align: center
      background-color: #fff
      line-height 20px
      box-sizing border-box
      padding-left 20px
      img
        width 15px
        height 15px
        transition transform .5s
      .rotateSty
        transform rotate(180deg)
        transition transform  .5s