.goods-littlecarousel
  height 110px
  margin 28px 0 18px
  overflow hidden
  .swiper-container4
    width 100%
    height 100%
    .swiper-cart
      text-align: center
      font-size 12px
      .article
        position absolute
        top 0
        right 6px
        line-height 14px
        color white
        background-image url("./images/bg.png")
      img
        width 82px
        height 82px
        margin-bottom 12px
        border-radius 8px